@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@section Styles{
    <link href="~/css/comprarealizada.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
}
<div class="msg-compra">

    <div class="acoes">

        <a class="btn-back" href="/Home/Index"><img src="~/images/ico/left.png" /></a>

    </div>

    <h1>Obrigado pela preferência!</h1>

    <h3>Compra realizada com sucesso!</h3>

    <div class="imagem-agradecimento">
        <img src="~/images/check.png" />
    </div>

    
</div>